<div style="max-width: 900px; padding: 20px;">
  <h2>Table with clDgRowSelection</h2>
  <clr-datagrid [(clrDgSelected)]="selected" [clDgRowSelection]="true">
    <clr-dg-column>Val 1</clr-dg-column>
    <clr-dg-column>Val 2</clr-dg-column>
    <clr-dg-column>Val 3</clr-dg-column>
    <clr-dg-column>Val 4</clr-dg-column>
    <clr-dg-column>Val 5</clr-dg-column>
    <clr-dg-column>Val 6</clr-dg-column>


    <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
      <clr-dg-cell>{{item.val1}}</clr-dg-cell>
      <clr-dg-cell>{{item.val2}}</clr-dg-cell>
      <clr-dg-cell>{{item.val3}}</clr-dg-cell>
      <clr-dg-cell>{{item.val4}}</clr-dg-cell>
      <clr-dg-cell>{{item.val5}}</clr-dg-cell>
      <clr-dg-cell>{{item.val6}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>

  <h2>Table without clDgRowSelection</h2>
  <clr-datagrid [(clrDgSelected)]="selected2">
    <clr-dg-column>Val 1</clr-dg-column>
    <clr-dg-column>Val 2</clr-dg-column>
    <clr-dg-column>Val 3</clr-dg-column>
    <clr-dg-column>Val 4</clr-dg-column>
    <clr-dg-column>Val 5</clr-dg-column>
    <clr-dg-column>Val 6</clr-dg-column>


    <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
      <clr-dg-cell>{{item.val1}}</clr-dg-cell>
      <clr-dg-cell>{{item.val2}}</clr-dg-cell>
      <clr-dg-cell>{{item.val3}}</clr-dg-cell>
      <clr-dg-cell>{{item.val4}}</clr-dg-cell>
      <clr-dg-cell>{{item.val5}}</clr-dg-cell>
      <clr-dg-cell>{{item.val6}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
